/* ROOT */

@font-face {
  font-family: "Montserrat";
  src: url("./../font/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./../font/Montserrat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../font/Montserrat-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Universe";
  src: url("./../font/Univers-LT-47-CondensedLt-Bold-Italic.ttf");
}

:root {
  --white: #ffffff;
  --black: #222;
  --black-2: #1b1a18;
  --primary: #fa471c;
}

*::selection {
  background-color: var(--primary);
  color: var(--white);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  line-height: 26px;
  color: #303030;
  font-size: 15px;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
}

p {
  overflow-wrap: break-word;
}

a,
p a {
  color: var(--black);
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

a:hover,
p a:hover {
  color: var(--primary);
}

ol,
ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.button {
  background: var(--primary);
  border-radius: 6px;
  color: var(--white);
  padding: 14px 20px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  color: var(--white);
}

.text-center {
  text-align: center;
}

.move-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 18px;
  font-size: 12px;
  display: none;
  overflow: hidden;
}

.move-to-top-button:hover span {
  animation: 0.1s ease-in both running move-top-keyframe;
  position: relative;
}

@keyframes move-top-keyframe {
  0% {
    bottom: 0px;
  }
  99% {
    bottom: 100px;
  }
  100% {
    bottom: 0px;
  }
}

/* SECTION CONTAINERS */

.sub-header {
  text-align: left;
  position: relative;
  padding-bottom: 36px;
  font-size: 40px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2em;
}

.sub-header::before {
  position: absolute;
  background: red;
  content: "";
  width: 80px;
  height: 3px;
  bottom: 18px;
}

.grid-section {
  margin: 0 auto;
  width: 1300px;
  display: flex;
  justify-content: center;
  padding: 50px 0 80px;
  position: relative;
  border-bottom: 1px solid #eee;
}

.box-section {
  width: auto;
  margin: 20px;
  position: relative;
}

.box-section.box-content-section-1 {
  width: 80%;
}

.box-section h2 strong {
  font-family: "universe";
}

.img-box-container-1 {
  width: 70%;
  float: right;
  border: 30px solid var(--white);
  border-radius: 16px;
  background: var(--white);
  box-shadow: 0 2px 20px #e5e5e5e3;
}

.img-box-container-1 img {
  width: 100%;
  height: auto;
}

.img-abs-section {
  width: 43%;
  position: absolute;
  left: 5px;
  top: 20%;
}

.img-abs-section img {
  width: 100%;
  height: auto;
}

.img-box-container-2 {
  padding-left: 15px;
  padding-right: 15px;
}

.img-box-container-2 img {
  width: 100%;
  height: auto;
}

.box-section.box-content-section-2 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.box-section .content-section-2 blockquote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 10px 0;
  padding: 0 0 0 24px;
  color: var(--black);
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  line-height: 32px;
  text-align: left;
  quotes: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 3px solid var(--primary);
}

.box-section .content-section-2 blockquote:before {
  content: "“";
}

.box-section .content-section-2 blockquote:after {
  content: "“";
}

.box-section .content-section-2 blockquote * {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  margin: 0;
  display: inline;
}

/* PARALLAX */

.first-parallax {
  height: 90vh;
  width: 100vw;
  background-image: url("https://www.corporategamesuk.com/wp-content/uploads/2021/03/5-wrKlid-scaled.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.first-parallax .grid-section {
  border-bottom: none;
  background-color: transparent;
  margin: 0;
  margin-left: auto;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.first-parallax .grid-section p,
.first-parallax .grid-section ul {
  font-size: 17px;
  line-height: 32px;
}

.first-parallax .section-background-3 {
  background-image: url("https://759067.smushcdn.com/2258139/wp-content/uploads/2021/04/h1-background-image-1-copy.png?lossy=0&strip=1&webp=1");
  /* background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  background-size: cover;
  height: 90vh;
  width: 70vw;
  position: absolute;
  top: 0;
  right: 0;
}

.second-parallax {
  height: 90vh;
  width: 100vw;
  background-image: url("http://www.wallpapers4u.org/wp-content/uploads/battlefield_4_game_explosion_ea_digital_illusions_ce_92996_1920x1080.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* MAIN HEADER */

.main-header {
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header.active {
  background-color: #ffffffeb;
}

.main-header .main-logo {
  padding: 5px 40px 0;
}

.main-header .header-right-section {
  padding: 5px 40px 0;
}

.main-header .header-right-section .brochure-button {
  color: #ffffff;
  padding: calc(0.667em + 2px) calc(1.333em + 2px);
  border-radius: 9999px;
  box-shadow: none;
  font-size: 1.125em;
}

.main-header .header-right-section .brochure-button:hover {
  color: rgba(255, 255, 255, 0.8);
}

.main-header.active .header-right-section .brochure-button,
.main-header.active .header-right-section .brochure-button:hover {
  color: var(--black);
}

.main-header .header-right-section .phone-number {
  color: var(--white);
  text-decoration: none;
  margin: 0 10px;
}

.main-header.active .header-right-section .phone-number {
  color: var(--black);
}

.main-header .header-right-section .social-icon-container {
  border: 1px solid var(--white);
  color: var(--white);
  padding: 5px;
  width: 24px;
  height: 25px;
  font-size: 15px;
  line-height: 26px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  text-align: center;
  cursor: pointer;
}

.main-header.active .header-right-section .social-icon-container {
  border: 1px solid var(--black);
  color: var(--black);
}

.main-header .header-right-section .social-icon-container:hover {
  border: 1px solid var(--primary);
  background: var(--primary);
}

/* MAIN SLIDER */

.main-slider {
  position: relative;
}
.main-slider .slider-image {
  width: 100%;
}

.main-slider .slider-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  filter: invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg)
    brightness(104%) contrast(104%);
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.main-slider .slider-arrow:hover {
  filter: invert(36%) sepia(47%) saturate(3583%) hue-rotate(349deg)
    brightness(98%) contrast(101%);
}

.main-slider .slider-arrow.prev-arrow {
  left: 0;
  transform: translate(40px, -16px);
}

.main-slider .slider-arrow.next-arrow {
  right: 0;
  transform: translate(-40px, -16px) rotate(180deg) skew(360deg, 0deg);
}

.main-footer {
  background-color: var(--black-2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
  padding: 82px 120px 66px;
}

.main-footer h4 {
  font-size: 20px;
}

.main-footer .social-icons-container .social-icon-container {
  border: 1px solid var(--white);
  color: var(--white);
  padding: 5px;
  width: 24px;
  height: 25px;
  font-size: 15px;
  line-height: 26px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  text-align: center;
  cursor: pointer;
}
.main-footer .social-icons-container .social-icon-container:hover {
  border: 1px solid var(--primary);
  background: var(--primary);
}

.footer-pages-links {
  margin-top: 48px !important;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-pages-links li {
  display: inline-block;
  margin: 0 6px 0 0 !important;
  padding: 0 10px 0 0 !important;
  font-size: 12px;
  border-right: 1px solid #fff;
  line-height: 11px;
}

.footer-pages-links li:last-child {
  border-right: none;
}

.footer-pages-links a {
  text-decoration: none;
  color: var(--white);
}

.footer-pages-links a:hover {
  color: var(--primary);
}
